@{
    ViewData["Title"] = "Доступ запрещен";
    Layout = "_LayoutNoMenu";
}

<div class="borderbox">
    <div class="headbox text-center">
        <h2>@ViewData["Title"]</h2>
    </div>

    <div class="formbox">
        <section>
            <p class="text-danger">You do not have access to this resource.</p>
        </section>
    </div>
</div>