@{
    ViewData["Title"] = "Confirm email";
    Layout = "_LayoutNoMenu";
}

<div class="borderbox">
    <div class="headbox text-center">
        <h2>@ViewData["Title"]</h2>
    </div>

    <div class="formbox">
        <section>
            <p>Thank you for confirming your email.</p>
        </section>
    </div>
</div>
