@{
    ViewData["Title"] = "Аккаунт заблокирован";
    Layout = "_LayoutNoMenu";
}

<div class="borderbox">
    <div class="headbox text-center">
        <h2>@ViewData["Title"]</h2>
    </div>

    <div class="formbox">
        <section>
            <h4 class="text-danger">Этот аккаунт заблокирован.</h4>
            <p>Пожалуйста, повторите попытку позднее.</p>
            <form asp-action="Index" asp-controller="Home">
                <input type="submit" value="На главную" style="margin-top: 15px;" class="btn btn-default" />
            </form>
        </section>
    </div>
</div>