@model CoreGbMSE.Models.TaskWork

@{
    ViewData["Title"] = "ZayavkaItoAdd";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>ZayavkaItoAdd</h2>

<h4>TaskWork</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ZayavkaItoAdd">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Otdel" class="control-label"></label>
                <input asp-for="Otdel" class="form-control" />
                <span asp-validation-for="Otdel" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Zayavka" class="control-label"></label>
                <textarea asp-for="Zayavka" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Zayavka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

